*.pyc
*.swp
debian/files
debian/*.debhelper
debian/*.substvars
debian/*.log
debian/*-build-stamp
build/
build-stamp
build-python*
debian/python-sqlmix/
debian/python3-sqlmix/
sql_diff
MANIFEST
dist
*.pyo
test.db
/.pybuild
/*.egg-info/
