#! /usr/bin/make -f

export PYBUILD_NAME=sqlmix
%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_build: sql_diff
	dh_auto_build

sql_diff: sql_diff.g
	yapps $^
	mv $@.py $@
	chmod +x $@


	
